#footer {
    background-image: url('../images/footer/cubes.png');
    background-size: 65%;
    background-position: right top;
    background-repeat: no-repeat;
    padding-bottom: rem(36px);

    @include media-breakpoint-down(lg) {
        max-width: 100vw;
        overflow-x: hidden;
    }
    
    .footer {
        &__nav {
            margin-top: rem(120px);

            .title {
                font-size: rem(20px);
                line-height: 96%;
                font-weight: 500;
                font-family: $font-family-base;
                color: #1A1A1A;
                text-transform: uppercase;
            }

            .menu {
                margin-top: rem(28px);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            ul {
                margin: 0;
                padding-left: 0;
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: rem(16px);

                a {
                    font-size: rem(20px);
                    line-height: 140%;
                    font-weight: 400;
                    font-family: $font-family-base;
                    color: #1A1A1A;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: rem(16px);

                    &.img {
                        width: rem(32px);
                        height: rem(32px);
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .icon {
                        width: rem(20px);
                        height: rem(20px);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;

                        svg {
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                    }
                }
            }
        }

        &__privacy {
            margin-top: 120px;
            display: block;
            font-size: rem(16px);
            line-height: 140%;
            font-weight: 400;
            font-family: $font-family-base;
            color: #767676;
            text-decoration: none;
        }
    }

    // Мобильные стили
    @media (max-width: 768px) {
        margin-top: rem(60px);
        background-size: 130%;
        background-position: right 140%;
        padding-bottom: rem(180px);

        .footer {
            &__nav {
                margin-top: auto;
                margin-bottom: rem(48px);

                .title {
                    font-size: rem(20px);
                }

                .menu {
                    margin-top: rem(16px);
                    gap: rem(24px);
                }

                ul {
                    gap: rem(14px);

                    a {
                        font-size: rem(16px);

                        &.img {
                            width: rem(24px);
                            height: rem(24px);
                        }

                        .icon {
                            width: rem(16px);
                            height: rem(16px);

                            svg {
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }

            &__privacy {
                margin-top: rem(14px);
                font-size: rem(14px);
            }
        }
    }
}